.movieCardList {
  width: 89%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 70px auto 0;
}

.movieCardList__container {
  padding: 0 0 60px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 32px;
  column-gap: 28px;
  justify-content: center;
}

.movieCardList__button {
  width: 28%;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  padding: 0;
  height: 36px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  border: #424242 1px solid;
}

.movieCardList__button:hover {
  transition: .6s linear;
  -webkit-transition: .6s;
  opacity: .6;
}

.movieCardList__plug-button {
  height: 36px;
  width: 1px;
}

.movieCardList__plug-button_indent {
  height: 55px;
  width: 1px;
}

@media screen and (max-width: 900px) {
  .movieCardList__container {
    padding: 0 0 80px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 35px;
    column-gap: 24px;
  }

  .movieCardList {
    padding: 0 30px;
    margin: 105px auto 0;
    width: 92%;
  }

  .movieCardList__button {
    width: 45%;
  }

  .movieCardList__plug-button {
    height: 0;
    width: 0;
  }

  .movieCardList__plug-button_indent {
    height: 10px;
    width: 1px;
  }
}

@media screen and (max-width: 750px) {
  .movieCardList__container {
    margin: 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 18px;
  }

  .movieCardList {
    margin: 70px auto 50px;
    padding: 0;
    width: 94%;
  }

  .movieCardList__button {
    width: 80%;
  }
}
