.profile {
  display: flex;
  margin: 0 auto;
  width: 100%;
  align-self: center;
  height: 100%;
}

.profile__container {
  width: 410px;
  align-self: center;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__title {
  font-size: 24px;
  font-weight: 500;
  padding: 0;
  margin: 77px 0 123px;
  text-align: center;
}

.profile__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__text {
  font-size: 11px;
  font-weight: 500;
  color: #8b8b8b;
  padding: 0;
  margin: 0 0 -20px;
  z-index: 1;
}

.profile__input {
  border: none;
  font-size: 11px;
  font-weight: 400;
  width: 100%;
  height: 32px;
  color: #fff;
  text-align: right;
  padding: 0;
  background: none;
  border-bottom: 1px solid #424242;
  z-index: 0;
}

.profile__input:last-of-type {
  border-bottom: none;
}

.profile__input:-webkit-autofill {
  box-shadow: inset 0 0 0 50px #202020 !important;
  -webkit-text-fill-color: #fff !important;
  color: #fff !important;
}


.profile__input:focus {
  outline: 1px solid #424242;
  border-radius: 8px;
}

.profile__error {
  color: #ee3465;
  font-size: 10px;
  padding: 0;
  margin: 6px 0 20px;
}

.profile__save-btn {
  width: 100%;
  background: none;
  font-size: 13px;
  font-weight: 400;
  border: none;
  opacity: 1;
  margin: 176px 0 16px;
  color: #fff;
  transition: opacity .3s ease-in;
  cursor: pointer;
}

.profile__save-btn:hover {
  opacity: 0.7;
}

.profile__link {
  font-size: 13px;
  font-weight: 500;
  color: #ee3465;
  text-align: center;
  text-decoration: none;
  margin: 0 0 70px;
  opacity: 1;
  transition: opacity .3s ease-in;
}

.profile__link:hover {
  opacity: 0.7
}

@media screen and (max-width: 900px) {
  .profile__title {
    margin: 237px 0 97px;
  }

  .profile__save-btn {
    margin: 178px 0 16px;
  }

  .profile__error {
    margin: 1px 0 20px;
  }
}

@media screen and (max-width: 750px) {
  .profile__container {
    width: 260px;
  }

  .profile__title {
    text-align: center;
    margin: 70px 0 82px;
  }

  .profile__save-btn {
    font-size: 12px;
    margin: 349px 0 16px;
  }

  .profile__link {
    font-size: 12px;
  }
}
