.search {
  width: 89%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 47px;
  position: relative;
}

.search__container {
  min-height: 34px;
  margin: 70px auto 33px;
  padding-bottom: 13px;
  display: flex;
  border-bottom: 1px solid #424242;
  justify-content: space-between;
  align-items: start;
}

.search__form {
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__input-box {
  width: 90%;
  height: 100%;
  padding: 0;
  position: relative;
}

.search__input-label{
  color: #8b8b8b;
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.4s ease;
}

.search__input-label_top{
  top: -45%;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.search__input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 0 0 20px;
  background-color: #202020;
  color: #fff;
}

.search__input::placeholder {
  color: #ee3465;
}

.search__input:focus ~ .search__input-label,
.search__input:valid ~ .search__input-label{
  top: -45%;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.search__search-btn {
  width: 5%;
  min-width: 58px;
  height: 34px;
  background-color: #4285F4;;
  border: none;
  border-radius: 48px;
  margin-left: 21px;
  cursor: pointer;
  transition: background-color .3s ease-in;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  color: #FFFFFF;
}
.search__search-btn[disabled] {
  background-color: #8b8b8b;
  cursor: auto;
}

.search__search-btn:hover:enabled {
  background-color: rgba(66,133,244,0.7);
}

.search__shortMovies {
  display: flex;
  align-items: center;
  width: 226px;
}

.search__checkbox {
  visibility: hidden;
  margin: 0;
  padding: 0;
}
.search__checkbox-group {
  position: relative;
  width: 36px;
  height: 20px;
  background-color: #3ddc84;
  border-radius: 20px;
}

.search__checkbox-label {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 2px;
  z-index: 1;
  left: 18px;
  transition: all .3s ease-in;
  cursor: pointer;
}

.search__checkbox:checked  + .search__checkbox-label{
  left: 2px;
  background: #272727;
}

.search__shortMovies-text {
  font-size: 13px;
  line-height: 18px;
  margin: 0 30px 0 14px;
  padding: 0;
}

@media screen and (max-width: 900px) {
 .search {
    width: 92%;
  }

  .search__container {
    margin: 80px auto 30px;
  }

  .search__checkbox-group {
    margin-left: 19px;
  }

  .search__search-btn {
    width: 8.5%;
  }

  .search__shortMovies {
    width: 205px;
    flex-direction: row-reverse;
    right: 0;
    position: absolute;
  }

  .search__shortMovies-text {
    margin: 0 0 0 14px;
  }
}

@media screen and (max-width: 750px) {

  .search__container {
    flex-direction: column;
    background: none;
    margin: 85px auto -4px;
    padding-bottom: 7px;
    justify-content: flex-start;
  }

  .search__form {
    margin: 0 auto;
    width: 100%;
  }

  .search__input-box {
    width: 50%;
  }

  .search__input {
    height: 90%;
    margin-left: 17px;
  }

  .search__input-label{
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
  }

  .search__search-btn {
    width: 20%;
  }

  .search__checkbox-group {
    margin-left: 0;
  }

  .search__shortMovies {
    margin-top: 45px;
    width: 100%;
    justify-content: center;
  }

  .search__shortMovies-text {
    font-size: 11px;
    margin: 0 15px 0 0;
  }
}
