.footer {
  width: 100%;
  margin: 0 auto 20px;
  padding: 159px 5% 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.footer__text {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 20px;
  font-size: 13px;
  color: #8b8b8b;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid #424242;
}

.footer__container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footer__copy {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
}

.footer__links {
  display: flex;
  justify-content: space-between;
}

.footer__link {
  margin: 0 0 0 20px;
  padding: 0;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  opacity: 1;
  transition: opacity .3s ease-in;
}

.footer__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 750px) {
  .footer__text {
    font-size: 12px;
    padding: 0 0 21px;
  }

  .footer__container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin-top: 18px;
  }

  .footer__copy {
    color: #8b8b8b;
    font-size: 12px;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .footer__link {
    font-size: 12px;
    margin-top: 12px;
    margin-left: 0;
  }
}
