.technologies {
  margin: 0 auto 0;
  padding: 0 5.5%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #272727;
}

.technologies__section-title {
  margin: 105px 0 0;
  padding: 0 0 23px;
  width: 100%;
  font-size: 22px;
  font-weight: 400;
  border-bottom: 1px solid #dadada;
  letter-spacing: -0.04em;
}

.technologies__title {
  margin: 88px auto 26px;
  padding: 0;
  text-align: center;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.technologies__description {
  margin: 0 auto 90px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  width: 42%;
  letter-spacing: -0.04em;

}

.technologies__list {
  padding-left: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 10px;
  margin: 10px auto 100px;
}

.technologies__item {
  background-color: rgba(48,48,48,1);
  width: 90px;
  height: 60px;
  border-radius: 10%;
  text-align: center;
  font-size: 14px;
  line-height: 60px;
}

.technologies__item:first-of-type {
  margin-left: 0;
}

@media screen and (max-width: 900px) {
  .technologies {
    padding: 0 50px;
  }

  .technologies__section-title {
    margin-top: 95px;
  }

  .technologies__title {
    margin: 80px auto 22px;
  }

  .technologies__description {
    margin: 0 auto 74px;
    font-size: 12px;
    line-height: 18px;
    width: 67%;
  }

  .technologies__item {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 57px;
    letter-spacing: -0.04em;
  }
}

@media screen and (max-width: 750px) {
  .technologies {
    padding: 0 18px;
    background-color: #202020;
  }

  .technologies__section-title {
    font-size: 18px;
    padding-bottom: 28px;
    margin-top: 46px;
    border-bottom: 1px solid #000;
  }

  .technologies__title {
    margin: 50px auto 11px;
    font-size: 30px;
  }

  .technologies__description {
    margin: 0 auto 50px;
    font-size: 11px;
    line-height: 16px;
    width: 100%;
  }

  .technologies__list {
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto 70px;
    row-gap: 10px;
  }
}
